@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-XBlkCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-XBlkCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtEx.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThEx.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

